<h1>index</h1>
<p>
<a href="github/index.html">Protected url by Github: github/index.html</a><br />
<a href="githubadmin/index.html">Protected url by GitHub with ROLE_ADMIN: githubadmin/index.html</a><br />
<a href="githubtest/index.html">Protected url by GitHub with test user authorizer: githubtest/index.html</a><br />
</p>
<p>
<a href="twitter/index.html">Protected url by Twitter: twitter/index.html</a>
</p>

<p>
<a href="twitter-github/index.html">Protected url by Twitter or GitHub: twitter-github/index.html</a><br />
</p>

<p>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a><br />
</p>

<p>
<a href="protected/index.html">Protected url: protected/index.html</a> (won't start any login process)<br />
</p>
<p>
<a href="jwt.html">Generate a JWT token</a><br />
<a href="/rest-jwt/index.html">Protected url by ParameterClient: /rest-jwt/index.html</a> (with request parameter: token=<em>jwt_generated_token</em>)<br />
</p>
<p>
<a href="/static_index.html">unprotected static html: static_index.html</a>
</p>
<p>
<a href="/logout?url=/">logout</a>
</p>
<p>
<br /><br />
profile : {{userProfile}}
</p>
